.main{
    background-color: grey;
    width: 100%;
    height: 40px;
}
.a{
    width: 100%;
    height: 40px;
}
.b{
    background-image: url("../Work1/iphone.jpeg");
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-bottom: 5px;
    
}
.b{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn1{
    background-color: blue ;
    border-radius: 12px;
    
}
.btn2{
    border-radius: 12px;
    
}


.photo{
    height: 800px;
    width: 100%;
}
.c{
    background-image: url(../Work1/iphone2.jpeg);
    height: 800px;
    width: 100%;
    
    padding-bottom: 5px;
}
.iphone16{
    height: 800px;
    width: 100%;
    

}
.watch{
    height: 600px;
    width: 100%;
}
.watch1{
    height: 450px;
    width: 49%;
    padding: 5px;
}
.airpods{
    height: 450px;
    width: 49%;
    padding: 5px;
}
.am{
    height: 450px;
    width: 49%;
    padding: 5px;
}
.mac{
    height: 450px;
    width: 49%;
    padding: 5px;
}