.main{
    display: grid;
    grid-template-areas: "item1 item2 item2 item3"
                         "item4 item4 item5 item6"
                         "item7 item8 item9 item9";
                         height: 100px;
                         width: 300px;
                         gap: 5px;
}
.item1{
    background-color: red;
    grid-area: item1;
}
.item2{
    background-color: rgb(255, 217, 0);
    grid-area: item2;
}
.item3{
    background-color: rgb(123, 255, 0);
    grid-area: item3;
}
.item4{
    background-color: rgb(0, 238, 255);
    grid-area: item4;
}
.item5{
    background-color: rgb(0, 38, 255);
    grid-area: item5;
}
.item6{
    background-color: rgb(204, 0, 255);
    grid-area: item6;
}
.item7{
    background-color: rgb(94, 59, 79);
    grid-area: item7;
}
.item8{
    background-color: rgb(46, 133, 155);
    grid-area: item8;
}
.item9{
    background-color: rgb(43, 80, 201);
    grid-area: item9;
}

